# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.pyd

# Virtual environment
env/
venv/
*.env/
*.venv/

# VSCode settings
.vscode/

# PyTorch model files
# *.pth
# *.pt
# *.onnx

# TensorBoard logs
runs/
*.log

# System files
.DS_Store
Thumbs.db

# Data files
*.h5
*.npz

# Plots or generated images
*.png
*.jpg
*.jpeg

secrets/
.dvc/config.local